<%= simple_form_for @recipe, html: {multipart: true} do |f| %>

  <% if @recipe.errors.any? %>
    <div id="errors">
      <strong>
        Please fix the <%= pluralize(@recipe.errors.count, "item") %> below:
      </strong>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.input :title, input_html: { class: 'form-control' } %>
    <%= f.input :description, input_html: { class: 'form-control' } %>
    <%= f.input :image, as: :file %>
    <%= f.label :cuisine %> &nbsp
    <%= f.collection_select :cuisine_id, Cuisine.all, :id, :name, :prompt => true %> &nbsp &nbsp
    <%= f.label :meal %> &nbsp
    <%= f.collection_select :meal_id, Meal.all, :id, :meal_type, :prompt => true %><br><br>
  </div>

  <%= f.label :ingredient, "Ingredients:" %><br>
  <%= f.simple_fields_for :ingredients do |item| %>
      <%= item.input :quantity %>
      <%= item.input :name %>
  <% end %>
  <br>
  <br>
  <%= f.label :direction, "Directions:" %><br>
  <%= f.simple_fields_for :directions do |item| %>
      <%= item.input :step %>
  <% end %>

  <%= f.button :submit, class: "btn btn-info"  %>
<% end %>

<%= button_to "Back", recipes_path(@recipe), method: :get, class: "btn btn-outline-dark" %>

