<%= form_for @recipe do |f| %><br>

    <%= f.label "Title: " %>
    <%= f.text_field :title %><br><br>

    <%= f.label "Description:" %><br>
    <%= f.text_area :description %><br><br>

    <%= f.label :image, "Add an Image:" %> &nbsp
    <%= f.file_field :image %><br><br>

    <%= f.label :cuisine %> &nbsp
    <%= f.collection_select :cuisine_id, Cuisine.all, :id, :name, :prompt => true %> &nbsp &nbsp
    <%= f.label :meal %> &nbsp
    <%= f.collection_select :meal_id, Meal.all, :id, :meal_type, :prompt => true %><br><br>

    <%= f.label :ingredient, "Ingredients:" %><br>
    <%= f.fields_for :ingredients do |item| %>
        <%= item.label :quantity, "Quantity: " %>
        <%= item.text_field :quantity %>

        <%= item.label :name, "Item: " %>
        <%= item.text_field :name %>
    <% end %><br>
    <br><br>
    <%= f.label :direction, "Directions:" %><br>
    <%= f.fields_for :directions do |item| %>
        <%= item.label :step, "Add Step: " %>
        <%= item.text_field :step %><br>
    <% end %>
    <br><br>
    <%= f.submit class: "btn btn-info"%>
<% end %>
<p>
<%= button_to "Back", recipes_path, method: :get, class: "btn btn-outline-dark"%>
</p>