<%# Name: <%= @recipe.name %>
<%# Cuisine: <%= @recipe.cuisine.name %>
<%# Ingredients: <%= @recipe.ingredient link back to cuisine and meal %>
<%# <a href="#" class="card-link">Card link</a> %>

<div class="card" style="width: 580px;">
  <div class="card-body">
    <h4 class="card-title"><%= @recipe.title %></h4>
    <h5 class="card-subtitle mb-2 text-muted"><%= @recipe.cuisine.name %></h5>
    <p class="card-text"><%= @recipe.description %></p>

    <% if @recipe.image.attached? %>
      <%= image_tag(@recipe.image, class: "recipe-image") %>
    <% end %>

    <div class="ingredients">
      <h5> Ingredients: </h5>
      <ul> 
        <% @recipe.ingredients.each do |ingredient| %>
          <li><%= "#{ingredient.quantity} x #{ingredient.name}" %></li>
        <% end %>
      </ul>
    </div>
    <div class="directions">
      <h5> Directions: </h5>
      <ol>
        <% @recipe.directions.each do |direction| %>
          <li><%= direction.step %></li>
        <% end %>
      </ol>
    </div>

    <a href="javascript:history.back()">	&hearts; Add to Favorites</a>
  </div>
</div>
<br>
<%= button_to "Back", recipes_path, method: :get, form: {style: 'display:inline-block;'}%>
<%= button_to "Edit", edit_recipe_path, method: :get, form: {style: 'display:inline-block;'}%>
<%= button_to "Delete", recipe_path, method: :delete, form: {style: 'display:inline-block;'}, data: {confirm: "Are you sure?"}%>