<h2> Edit Profile </h2>

<%= form_for @user do |f| %>
    <br>
    <%= f.label :avatar, "Upload Profile Photo:" %><br>
    <%= f.file_field :avatar %><br><br>

    Name: <br> <%= f.text_field :name %><br><br>
    Add a New Trip: <br>
    <%= f.text_field :trip %><br><br>
    <%= f.label :dietary_restriction %> <br>
    <%= f.text_field :dietary_restriction %><br/><br/>


    <%= f.submit "Update Profile"%>
<% end %>
<br>
<%= link_to "Back", user_path(current_user), method: :get %>