<h2> Hi, <%= @user.name%> </h2>
<div class="avatar">
  <% if @user.avatar.attached? %>
      <%= image_tag(@user.avatar, style:'width:400px') %><br><br>
  <% end %>
</div>
<%# <%= image_tag (@user.avatar.variant(resize_to_limit: [100, 100]))%><br><br>

Upcoming Trips: <br><%= @user.trip%><br><br>

"Dietary Restrictions and Allergens:"
<%= simple_form_for @user do |f| %>
<%= f.input :dietary_restriction, as: :check_boxes, collection: User::ALLERGEN %>
<% end %>

<%= button_to "Edit Profile", edit_user_path, method: :get, form: {style: 'display:inline-block;'}%> 
&nbsp; or &nbsp;
<%= button_to "Delete Account", user_path(current_user) , method: :delete, form: {style: 'display:inline-block;'}, data: {confirm: "Are you sure?"}%>