<%= form_for @dish do |f| %><br>
    Name of Dish <br>
    <%= f.text_field :name %><br><br>

    <%= f.label :cuisine %><br>
    <%= f.collection_select :cuisine_id, Cuisine.all, :id, :name %><br><br>

    <%= f.label :meal %><br>
    <%= f.collection_select :meal_id, Meal.all, :id, :meal_type %><br><br>

    <label> Ingredients  </label><br>
    <%= f.text_area :ingredient %><br><br>

    <%= f.submit %>
<% end %>