<h2> Recipe </h2>
<%# Name: <%= @dish.name %>
<%# Cuisine: <%= @dish.cuisine.name %>
<%# Ingredients: <%= @dish.ingredient link back to cuisine and meal! %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @dish.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @dish.cuisine.name %></h6>
    <p class="card-text"><%= @dish.ingredient %></p>
    <a href="javascript:history.back()">Go Back</a>
  </div>
</div>

