<!DOCTYPE html>
<html>
  <head>
    <title> MealPik. </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">MealPik. </a>
    </nav>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert" %>
      <% end %>

      <div class="row">
          <div class="col"></div>
          <div class="col-md-auto">
            <div class="menu-btns"> 

            <%# <% if current_user %>
            <% if logged_in? %> 
              <%= link_to "Profile", user_path(current_user), method: :get, class: 'btn btn-dark'%>
            <% end %>
            <%= link_to "Find by Meal", meals_path, method: :get, class: "btn btn-info" %>
            <%= link_to "Cuisines", cuisines_path, method: :get, class: "btn btn-info" %>
            <%= link_to "Recipes", recipes_path, method: :get, class: "btn btn-info" %>
            <% if logged_in? %>
              <%= link_to "Add a Recipe", new_recipe_path, method: :get, class: "btn btn-light" %>
              <%= link_to "Logout", logout_path, method: :get, class: "btn btn-secondary" %> 
            <% end %><p>
          
            </div> 

            <%= yield %>  
            
          </div>
          <div class="col"></div>
      </div> 
    </div>
  </body>
</html>