<!DOCTYPE html>
<html>
  <head>
    <title>PickNPrep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if current_user %>
    <%= link_to "Profile", user_path(current_user) %>
    <% end %>
    <%= link_to "Cuisines", cuisines_path %>
    <%= link_to "Recipe Index", dishes_path %>
    <%= link_to "Meal Type", meals_path %>
    <% if logged_in? %>
    <%= link_to "Log out", logout_path %>
    <% end %>
  </body>
</html>
