<!DOCTYPE html>
<html>
  <head>
    <title>PickNPrep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <br>
  <div class="container">
    <div class="row">
        <div class="col">
        <a class="btn btn-dark" href='/users/1' role="button">Profile</a>
        <a class="btn btn-info" href='/cuisines' role="button">Cuisines</a>
        <a class="btn btn-info" href='/dishes' role="button">Recipes</a>
        <a class="btn btn-info" href='/meals' role="button">Find by Meal</a>
        <a class="btn btn-secondary" href='/logout' role="button">Logout</a>
        </button>
    </div>
</div>
<br>
</head>

  <body>
    <%= yield %>

        <% if current_user %>
        <%= link_to "Profile", user_path(current_user) %>
        <% end %>

  </body>
</html>

    <% if current_user %>
    <%= link_to "Profile", user_path(current_user) %>
    <% end %>
    <%# <% if logged_in? %>
    <%# <%= link_to "Log out", logout_path %>
    <%# <% end %>